@import "~antd/dist/antd.css";

html,
body,
#root {
  height: 100vh;
  overflow: hidden;
}
.ant-layout {
  height: inherit;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout-sub-header-background {
  background: #141414;
}

.right-content {
  box-shadow: 0 0 10px 2px #eee;
  background: #fff;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}